@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 60px 0;
	color: #555;
}
body.home {
	background: url(../img/rl/bg.png) repeat-x center top;
	padding-top:25px
}
body.home h3 a {color: #333}

h1, h2 {
    font-family: 'RobotoThin', sans-serif;
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-family: 'RobotoCondensed', sans-serif;
    font-weight: normal;
}
blockquote p {
    font-family: 'RobotoCondensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    margin:5px 0 15px;
}
label {cursor: pointer}
input, textarea { color: #000; }
.placeholder { color: #aaa; }
.only-mobile {display: none}
.btn, .label {border-radius: 14px}
.label {cursor: default;}
.btn-large {border-radius: 22px}
.icon-gray {opacity: 0.4}
#sidebar .nav .active .icon-gray, .dropdown-menu li a:hover i, #explore .nav .active a i {background-image: url(../img/glyphicons-halflings-white.png);}

/* image replacement */
.brand, 
body.home .brand,
#co-workers li a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.clear {clear: both; float: left; width:100%;}

.brand {
	background: url(../img/rl/logo.png) no-repeat;
	height: 40px;
	width: 140px;
}
.navbar .brand {
	padding: 0;
	margin-right: 20px;
}
body.home .brand {
	background: url(../img/rl/logo-home.png) no-repeat;
	margin-bottom: 40px;
	height: 52px;
	width: 220px;
}
body.home .top-login {
	margin-bottom: 40px;
}
	#user-menu {float: right; margin-right: 0}
	.navbar-inner {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar .nav > li > a {
  		color: #08c;
  		text-shadow: none;
	}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
  		background-color: rgba(0, 0, 0, 0.03);
	}
	.navbar .nav li.dropdown .dropdown-toggle .caret, 
	.navbar .nav li.dropdown.open .caret, 
	.navbar .nav li.dropdown.open a:hover .caret {
		border-top-color: #939393;
		border-bottom-color: #939393;
	}
	.dropdown.open .dropdown-toggle {color: #000}
	.navbar-search {margin-left: 5px}
	.navbar-search .search-query {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
		background: #fff url(../img/rl/bg-input.gif) repeat-x top;
		border-radius: 4px;
		border: 1px solid #cac8c8;
	}
	.navbar-search .search-query:hover {
		background-color: #fff;
		border: 1px solid #c5c3c3;
	}
	.navbar-search .search-query:focus, .navbar-search .search-query.focused {
		padding: 4px 9px;
		color: #333333;
		text-shadow: none;
		background-color: #ffffff;
		border: 1px solid #c5c3c3;
		box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
	}
	#searchsubmit {position: relative; left: -31px}
	.navbar-fixed-top .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-fixed-top .dropdown-menu::before {
		left: auto;
		right: 9px;
	}
	.navbar-fixed-top .dropdown-menu::after {
		left: auto;
		right: 10px
	}
	.btn-navbar {border-radius: 6px}
	.navbar .btn-navbar .icon-bar {background-color: #08c}
	#login-form ul.extras {
		margin: 0;
		position: relative;
		list-style: none
	}

	#login-form #login, #login-form #login-pass {width: 35%}
	#esqueci {
		position: absolute;
		top: 0;
		left: 120px
	}
	#top-login .extras li {padding-top: 2px}
	.dropdown img {
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}
	.dropdown img {
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}
	.login-dropdown .dropdown ul {width: 400px}
	.dropdown-menu .logout-link a:hover, .dropdown-menu .danger-link a:hover {background-color: #DA4F49 !important;}

#user-menu .label {
	position: absolute;
	top: 7px;
	left: 6px;
	padding: 0 2px;
	line-height: 130%
}

#top-login {
	float: right;
/*	width: 345px;
	_width: 355px;
*/	
}
#intro {
	margin-top: 10px
}
	#intro h1 {
		font-size: 62px;
		color: #c0c0c0;
		letter-spacing: -.1em;
		margin-bottom: .3em;
	
	}
	#intro h1 small {
		letter-spacing: normal;
	}
#cadastro-form input {
	display: block;
}

#privacidade-status {max-width: 130px}
.wdgt {
	margin-bottom: -15px;
	position: relative
}
.wdgt .more {
	position: absolute;
	top: 5px;
	right: 0
}

#refresh, .btn-load-more a {
	margin-bottom: 20px;
	width: 95% 
}

#stream {
	position: relative;
	padding-bottom: 30px;
	float: left;
	width: 100%;
}
	#stream .well {clear: both; text-align: center;}
	#stream #tabs-home {width: 100%; margin-top: 30px; position: relative}
	#stream #tabs-home li {float: right}
	#stream #tabs-home li i {margin-top: 3px}
	#stream #tabs-home .no-link {
		position: absolute;
		bottom: 14px;
		right: 285px
	}
	#stream #tabs-home a h3 {color: #08c}
	#stream #tabs-home .active a h3 {color: #555}
	#stream .tab-content {width: 100%}
	#stream ul {
		list-style: none;
		margin-left: 0;
	}
	#stream > ul {margin-top: -15px}
	#stream ul .vcard {
		border-top: 1px dotted #ccc;
		padding-top: 14px;
		margin-top: 12px;
		clear: both;
		float: left;
		position: relative;
		width: 100%
	}
	#stream.forum-item .vcard {
		border-top: 1px solid #ddd;
	}
	#stream.forum-item .reply,
	#stream #msg-item .reply,
	#stream #msg-item .more-msg {
		border-top: 1px dotted #ccc;
		margin-left: 9%;
		width:90%;
	}
	#stream #msg-item .more-msg {
		border-top: 1px solid #ccc;
		padding: 15px 0 0;
		margin-top: 10px;
		float: left;
		clear: both;
	}
	#stream #msg-item .more-msg .btn {
		width:100%;
	}
	#forum-pag, #nav-topic {
		height:auto;
		clear: both;
		float: left;
		width: 100%;
	}
	#form-pag ul {padding: 20px 0;}
	#stream ul .activity {width: 100%}
	ul .activity .actions {padding-bottom:10px;}
	#stream ul .vcard .entry {
		float: left;
		width: 85%;
	}
	#stream .meta {
		float: left;
		clear: both;
		margin-top: -5px;
		margin-bottom: 5px;
	}
	#stream .activity .time {font-size: 11px; color: #bbb}
	#stream .meta > li {
		font-size: 88%;
		float: left;
		margin-right: 8px
	}
	#stream .meta .share-now {font-size:122%;}
	#stream .meta .time {padding-top: 1px}
	#stream .meta .time a, 
	#stream .meta, 
	#stream .comments .time {color: #b2b1b1; font-size: 11px}

	#stream .comments {clear: both}
	.my-status .entry > *, .forum-item .mine .entry {opacity: .6}
	.my-status .entry .comments {opacity: 1}

#stream .notifications {
	border-bottom: 1px solid #ebebeb;
	margin-top: 5px;
	margin-bottom: 40px;
	clear: both;
	float: left;
	width: 100%;
}
#stream .notifications .vcard {
	margin-top: 0;
}
#stream .notifications .unread {
	background-color: #fff3cc;
	border-top: 1px dotted #049cdb;
}
#stream .notifications blockquote {
	margin-top: 10px;
	margin-left: 25px;
	width: 50%;
}
#stream .notifications blockquote p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #999;
}
#stream .notifications .unread blockquote {
	border-left: 5px solid #ddd;
	color: #ddd;
}
#stream .notifications .vcard:hover {
	border-top: 1px solid #049cdb;
}
.notifications .vcard .notf, 
.requests .vcard .notf {
	padding-bottom: 10px;
	width: 99% !important;
}
.notifications .vcard .notf {cursor: pointer}
#stream .alert {clear: both;}
	#stream .photo {
		float: left;
		margin-right: 8px;
		position: relative
	}
	#stream .photo .sub-icon {
		position: absolute;
		bottom: 0;
		right: 0;
		box-shadow: 1px 2px 25px rgba(255, 255, 255, 1); 
	}

	#stream .vcard .btn-group.drop-options {
		position: absolute;
		top: -5px;
		right: 2px;
	}
	#stream .vcard .dropdown-toggle span, #stream .vcard .meta i {opacity: .5}
	#stream .vcard .drop-options .dropdown-menu,
	#docs-intro td .dropdown-menu {
		right: 0;
		left: auto;
	}
	#stream .vcard .comments {
		position: relative;
		padding-top: 5px;
		width: 90%;
	}
	#stream .vcard .comments li {
		background: #f6f5f5;
		margin-bottom: 1px;
		padding: 1px 3px 4px 2px
	}
	#stream .vcard .comments li .photo {width: 15px; margin-top: 3px}
	#stream .vcard .comments li .comment {margin-left: 17px}
	#stream .vcard .comments li .fn {font-size: 11px}
	#stream .vcard .comments li p {
		font-size: 12px;
		line-height: 16px;
		color: #777;
		margin-bottom: 4px
	}
	#stream .comments .photo {margin-right: 2px}
	.comments form {margin-bottom: 0}
	.textarea-comment {width: 93%; margin-top: 2px; margin-bottom: 0; font-size: 12px}
	.forum-item .textarea-comment,
	#msg-item .textarea-comment {margin-bottom: 5px; width:98%;}
	#form-reply {width:100%;}
	#stream .shared-item {
		position: relative; 
		display: block; 
		max-width: 400px;
	}
	#stream .share-content {margin-bottom: 5px}
	#stream .btn-play {
		position: absolute;
		display: block;
		background: url(../img/rl/btn-play.png) no-repeat center 0px;
		top: 50%;
		left: 50%;
		margin-top: -70px;
		margin-left: -70px;
		height: 140px;
		width: 140px
	}
	#stream .shared-item:hover .btn-play {
		background: url(../img/rl/btn-play.png) no-repeat center -140px;
	}
	#stream .video-embed {display: none; max-width: 400px}
	#stream .video-embed iframe {width: 100%; min-height: 233px}
	.form-comment {position: relative; padding-bottom: 21px}
	.form-comment .btn {
		right: 5px;
		bottom: 0;
		position: absolute
	}
	.vcard .close {position: absolute; top: 2px; right: 2px}
	
.btn-load-more {
	background: url(../img/rl/fade.png) repeat-x 5px;
	padding-top: 60px;
	top: -70px;
	position: relative;
	float: left;
	clear: both;
	width: 100%
}
.btn-load-more .btn {width: 96%}
#shink-content {float: none; margin-bottom: -60px}

.thumbnails .thumbnail strong {display: block;}

#sidebar {
	border:1px inset #e8e6e6;
	border-width: 0 1px 0 0;
	margin-right: -1px
}
	#sidebar h1 {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
	    font-weight: normal;
	    color: #555;
	    line-height: 100%;
	    margin:5px 0 15px;
	}
	.avatar {position: relative}
	.avatar .photo {
		background: url(../img/rl/_avatar-default-large.png) no-repeat;
		max-width: 100%;
	}
	.avatar .btn-group {
		position: absolute;
		top:-8px;
		left: -7px;
	}
	.avatar .btn-group > a, .vcard .btn-group > a {
		padding: 1px 3px 3px;
		opacity: 0.9;
	}
	#sidebar .nav li {position: relative}
	#sidebar .nav li .label {
		float: right;
		margin-top: -2px;
		margin-right: -9px;
	}
	#sidebar .nav li .label-info, #sidebar .nav li .badge-info {
		margin-top: 1px;
		padding: 0px 3px;
		line-height: 130%;
		opacity: .5;
		font-size: 10px
	}

#co-workers ul {list-style:none; margin-left:0;}
footer .pull-left {width: 45%;}
#co-workers li {float: left;}
#co-workers .heading {margin:0 5px 0 20px;}
#co-workers ul li a {
	background: url(../img/rl/logos-financ.png) no-repeat;
	height:61px;
	margin-bottom: 25px;
}
#co-workers ul #a-capes a {
	background-position:0 0;
	width:79px;
}
#co-workers ul #a-cnpq a {
	background-position:-79px 0;
	width:150px;
}
#co-workers ul #a-facepe a {
	background-position:-229px 0;
	width:129px;
}
#co-workers ul #a-mix a {
	background-position:-358px 0;
	width:131px;
}
#other-links {font-size:11px;}
#footer-utility ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 20px;
}
#footer-utility ul li {margin: 6px 0}
#footer-utility h4 {text-transform: uppercase}
.fade-rl {
	background: url(../img/rl/fade.png) repeat-x;
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
		pointer-events: none;
}
#modalEsqueci {display: none}
#privacidade-status, #form-status #send {
	float: right;
	margin-left: 10px
}
#form-status .nav-tabs {margin-bottom: 8px;}

#temas-aula-list label {
	margin-bottom: 15px
}
#temas-aula-list label:hover {
	color: #08c
}
.modal form {margin-bottom: 0 !important}

#explore {
	padding-top: 10px;
	text-align: center
}
#explore h2 {
	margin-bottom: 15px;
	color: #aaa;
	letter-spacing: -.1em;
	word-spacing: .2em;
	font-size: 42px;
}
#explore .nav {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 8px;
	width: 270px
}
#explore.main-comunidades .nav {
	margin-top: 0;
	width: 338px
}
.main-comunidades .thumbnail small {display: block}


#explore #tagcloud {
	margin: 0 auto;
	width: 80%;
	line-height: 290%;
	padding-bottom: 20px;
}
#explore #tagcloud a {padding: 0 4px}
#explore #featured h5 {
	line-height: 100%;
	margin-top: 3px
}
#explore .tab-content li {position: relative}
#explore .tab-content li .label {
	position: absolute;
	top: 7px;
	right: 7px;
		pointer-events: none;
}
#featured .page-header {
	padding-bottom: 2px;
	margin-bottom: 8px
}
#div-botao-criar img {
	display: block;
	margin-top: 5px;
	float: left;
}
#input-nome-conteudo {width: 98%}

#explore .tab-content ul {
	float: left;
	clear: both;
	list-style: none;
	margin: auto 0;
	width: 100%
}
#explore .tab-content li {
	float: left;
	width: 173px;
	margin: 0 10px 30px;
}

.nav-tabs .label {line-height:100%;}

.list-conteudos img {vertical-align: middle}

#institucional-content h3 {text-align: center; margin-bottom: 20px; margin-top: 20px}

.list-mgmt > ul {
	list-style: none;
	margin-left: 0;
	clear: both
}
.list-mgmt h2 {margin-bottom: 10px; float: left}
.list-mgmt h1 {margin-bottom: 20px}

.list-mgmt ul .row {
	padding: 15px 0;
	border-top: 1px solid #eee;
	position: relative;
}
.list-mgmt ul .mine h3 a, 
.list-mgmt .nav .mine a, 
#forum-intro li.mine a, 
.list-mgmt ul .mine .meta a,
.forum-item ul .mine .entry a {
	color: #008e42;
}
.list-mgmt ul .photo {
	display: block;
	float: left;
	margin-right: 10px
}
.list-mgmt li .btn-group {
	position: absolute;
	top: -4px;
	right: 5px
}
.list-mgmt ul .btn-group .dropdown-menu {
	left: auto;
	right: 0;
}
.list-mgmt .meta {
	font-size: 12px;
	color: #bbb
}
.list-mgmt .nav-pills {float: left}
.list-mgmt .btn.btn-success, .list-mgmt h2 {margin-bottom: 25px}
.list-mgmt .well p {text-align: center}
.list-mgmt .row .span3 .btn {width: 85%}

#modalSendMsg img {margin-top: -1px}
#modalSendMsg .uneditable-input {cursor: default}
#fromField .add-on img {width: 20px}

#forum-intro {margin-bottom: 25px}
#forum-intro ul, 
#docs-intro table,
#inbox-pvt-intro ul {margin-bottom: 8px}
#forum-intro ul a, 
#forum-intro ul a small, 
#inbox-pvt-intro ul a, 
#inbox-pvt-intro ul a small, 
#docs-intro table a, 
#docs-intro table a small {display: block}
#forum-intro ul a:hover,
#docs-intro table a:hover {text-decoration: none}
#forum-intro ul a,
#inbox-pvt-intro ul a {position: relative; padding-right: 40px}
#forum-intro ul a .label,
#inbox-pvt-intro ul a .label {
	font-family: "Helvetica", "Arial", sans-serif;
	padding-bottom: 1px;
	font-weight: normal;
	position: absolute;
	right: 6px;
	top: 8px;
}
#forum-intro ul a small,
#inbox-pvt-intro ul a small,
#docs-intro table a small {
	font-size: 85%;
	color: #aaa
}
#inbox-pvt-intro ul .unread a {
	background-color: #fff9e6;
	font-weight: bold;
}
table .col-sec {width: 10%}
#inbox-pvt-intro ul .unread .icon-gray {opacity: 1}
#inbox-pvt-intro ul li {position: relative}
#inbox-pvt-intro ul li .label {
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 100;
	padding: 0;
	opacity: .8;
	border: 0;
}
#inbox-pvt-intro ul li .label .close {
	padding: 1px 6px 4px;
	padding-top: 0;
	line-height:100%;
}
#inbox-pvt-intro .sent-user {vertical-align: middle;}
#inbox-pvt-intro .close {cursor: pointer;}

#modalInfo .img-step {
	display: block;
	height: 150px;
	width: 150px;
}
.img-step.step1 {background: url(../img/rl/tutorial123_1.png) no-repeat center;}
.img-step.step2 {background: url(../img/rl/tutorial123_2.png) no-repeat center;}
.img-step.step3 {background: url(../img/rl/tutorial123_3.png) no-repeat center;}

.fourofour {background: url(../img/rl/404.png) no-repeat bottom center; padding-bottom:280px;}

/* WYSIWYG Editor */
.cleditorMain {border:1px solid #999; padding:0 1px 1px; background-color:white;}
.cleditorMain iframe {border:none; margin:0; padding:0;}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:13px 'Helvetica Neue', Helvetica, Arial, sans-serif; resize:none; outline:none /* webkit grip focus */}
.cleditorToolbar {background: url('../js/CLEditor1_3_0/images/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('../js/CLEditor1_3_0/images/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.cleditorPrompt input,
.cleditorPrompt textarea {font:10pt 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:10pt}


/* File Uploader */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-drop-area {
	background-image: url("../img/rl/icon-drop.png");
	background-repeat: no-repeat;
	background-position: 10% 70%;
    position:absolute; top:0; left:0; width:80%; height:100%; min-height: 70px; z-index:2;
    text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../js/file-uploader/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

/* AutoSuggest CSS - Version 1.2 */
.form-search {
	margin: 0 auto;
	width: 70%
}

ul.as-selections {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 2px 0 2px 4px;
	background-color: #fff;

  cursor: text;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 97%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
ul.as-selections-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
#explore ul.as-selections {
	border-radius:20px;
}

ul.as-selections.loading {
	background-color: #eee;
}

ul.as-selections li {
	float: left;
	margin: 1px 4px 1px 0;
}

ul.as-selections li.as-selection-item {
	color: #2b3840;
	font-size: 13px;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px #fff;
	background-color: #ddeefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(rgba(82, 168, 236, 0.8)));
	border: 1px solid #acc3ec;
	border-top-color: #c0d9e9;
	padding: 2px 7px 2px 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: 0 1px 1px #e4edf2;
	-webkit-box-shadow: 0 1px 1px #e4edf2;
	-moz-box-shadow: 0 1px 1px #e4edf2;
}

ul.as-selections li.as-selection-item:last-child {
	margin-left: 30px;
}

ul.as-selections li.as-selection-item a.as-close {
	float: right;
	margin: 1px 0 0 7px;
	padding: 0 2px;
	cursor: pointer;
	color: #5491be;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	-webkit-transition: color .1s ease-in;
}

ul.as-selections li.as-selection-item.blur {
	color: #666666;
	background-color: #f4f4f4;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
	border-color: #bbb;
	border-top-color: #ccc;
	box-shadow: 0 1px 1px #e9e9e9;
	-webkit-box-shadow: 0 1px 1px #e9e9e9;
	-moz-box-shadow: 0 1px 1px #e9e9e9;
}

ul.as-selections li.as-selection-item.blur a.as-close {
	color: #999;
}

ul.as-selections li:hover.as-selection-item {
	color: #2b3840;
	background-color: #bbd4f1;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbd4f1), to(#a3c2e5));
	border-color: #6da0e0;
	border-top-color: #8bb7ed;
}

ul.as-selections li:hover.as-selection-item a.as-close {
	color: #4d70b0;
}

ul.as-selections li.as-selection-item.selected {
	border-color: #1f30e4;
}

ul.as-selections li.as-selection-item a:hover.as-close {
	color: #1b3c65;
}

ul.as-selections li.as-selection-item a:active.as-close {
	color: #4d70b0;
}

ul.as-selections li.as-original {
	margin-left: 0;
}

ul.as-selections li.as-original input {
	border: none;
	outline: none;
	box-shadow:none;
	font-size: 13px;
	width: 150px;
	height: 18px;
	padding-top: 3px;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	font-size: 13px;
	color: #000;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	z-index: 2;
	box-shadow: 0 2px 12px #222;
	-webkit-box-shadow: 0 2px 12px #222;
	-moz-box-shadow: 0 2px 12px #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
		text-align: left;
}

li.as-result-item, li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px;
	background-color: transparent;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}

li.as-result-item.active {
	background-color: #3668d9;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(82, 168, 236)), to(rgb(62, 82, 242)));
	border-color: #3342e8;
	color: #fff;
}

li.as-result-item em { 
	font-style: normal; 
	background: #FCF8E3;  
	padding: 0 1px;
	color: #C09853;
}

li.as-result-item.active em { 
	background: #FCF8E3;  
	color: #C09853;
	border-radius:3px
}
li.as-result-item img {
	width: 40px;
	float: left;
	margin-right: 5px;
	vertical-align: text-top
}
li.as-result-item.active h4 {
	color: #fff;
}
#explore ul.as-list li {
	clear: both;
}

/* hide */
.twtr-ft, 
.twtr-hd,
#outropais {display: none}
.twtr-tweet-wrap {padding: 6px 0!important}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	ul.as-selections {
		border-top-width: 2px;
	}
	ul.as-selections li.as-selection-item {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-top: -1px;
	}
	ul.as-selections li.as-original input {
		height: 19px;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-left: 4px;
		margin-top: 0;
	}
}

/* IE Hacks  */
ul.as-list {
	border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
	margin-left: 4px\9;
	margin-top: 0\9;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default { 
	border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
	border: none;
}

.as-original input {
	border: 0;
	outline: 0;
	box-shadow: none;
	margin: 0
}
#img-preview .thumbnail {display: inline; vertical-align: top;}
#img-preview #thumb {
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
}

/*!
 * Responsive
 */
/* // Landscape phones and down */
@media (max-width: 480px) {
body{padding-top:0;}
.container {
	padding-left:10px;
	padding-right:10px;
}
	#user-menu,
	.navbar .nav {
		float: left;
		width: 100%;
	}
	#user-menu .dropdown {
		width: 100%;
	}
	#user-menu li,
	.navbar .nav li {
		float: left;
		width: 49%;
		white-space: normal;
	}
	.navbar .nav li a {
		white-space: normal;
	}
	.navbar-search {clear: both;}
	.nav-collapse .dropdown-menu {margin: 0;}

.nav-collapse a:hover {color:#fff !important; background:#08C !important;}

#searchsubmit {display: none}

#top-login {
	float: none
}
#sidebar .avatar {float:left; width: 49%}
#sidebar .nav {float:right; width: 49%}
.only-mobile {display: block; clear: both}
#form-status {clear: both}
#stream #tabs-home .no-link {display: none}
#stream ul .vcard .entry {width: 75%}
#sidebar-wdgt {clear: both;}
#footer-utility h4 {margin-top: 30px}

#search-comun-form {
	display: block;
	width: 99%
}
#search-comun-field {width: 93%}

footer .pull-left {width:100%;}
#co-workers {float: none; clear: both;}
#co-workers .heading {
	clear: both;
	float: none;
	margin-left: 0;
	padding-top: 15px;
}

}

/* // Landscape phone to portrait tablet */
@media (max-width: 767px) {
body{padding-top:0;}
.container,
.navbar-fixed-top {
	padding-left:10px;
	padding-right:10px;
}
	#user-menu,
	.navbar .nav {
		float: left;
		width: 100%;
	}
	#user-menu .dropdown {
		width: 100%;
	}
	#user-menu li,
	.navbar .nav li {
		float: left;
		width: 49%;
		white-space: normal;
	}
	.navbar .nav li a {
		white-space: normal;
	}
	.navbar-search {clear: both;}
	.nav-collapse .dropdown-menu {margin: 0;}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}

.nav-collapse a:hover {color:#fff !important; background:#08C !important;}

#searchsubmit {display: none}

#top-login {
	margin-right: 10px
}

#top-login .extras {padding-top: 10px;}

#esqueci {
	position: static;
}

#sidebar .avatar {float:left; width: 49%}
#sidebar .nav {float:right; width: 49%}
.only-mobile {display: block; clear: both}
#form-status {clear: both}

#top-login {
	margin-top: 15px;
	float: left;
	width: 60%
}
#login-form #login, #login-form #login-pass {
	display: block;
	margin-bottom: 5px;
	width: 100%
}
#stream ul .vcard .entry {width: 75%}
#sidebar-wdgt {clear: both}
.textarea-comment {width: 88%;}
#footer-utility h4 {margin-top: 30px}

footer .pull-left {width:100%;}
#co-workers {float: left; clear: both;}
#co-workers ul {padding-top: 25px;}
#co-workers .heading {margin-left: 0;}
#co-workers #a-facepe {
	margin-right: 35px;
}

}


/* // Um computador por aluno */
@media (min-width: 768px) and (max-width: 800px) {
.navbar-fixed-top {
	position: fixed;
}
	#user-menu,
	.navbar .nav {
		float: left;
		width: 100%;
	}
	#user-menu .dropdown {
		width: 100%;
	}
	#user-menu li,
	.navbar .nav li {
		float: left;
		width: 49%;
		white-space: normal;
	}
	.navbar .nav li a {
		white-space: normal;
	}
	.navbar-search {clear: both;}
	.nav-collapse .dropdown-menu {margin: 0;}
	.navbar-search .search-query {
		width: 95%
	}

.nav-collapse a:hover {color:#fff !important; background:#08C !important;}

#searchsubmit {display: none}

#login-form #login, #login-form #login-pass {width: 32%}
#top-login {width: 300px}
#esqueci {left: 110px}

#stream ul .vcard .entry {width: 80%}
.textarea-comment {width: 91%;}

footer .pull-left {width:25%;}
#user-menu .nav-collapse a:hover {color:#005580}

}

/* // Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
.navbar-fixed-top {
	position: fixed;
}
	#user-menu {float: left}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}

#searchsubmit {display: none}

#login-form #login, #login-form #login-pass {width: 32%}
#top-login {width: 300px}
#esqueci {left: 110px}

#stream ul .vcard .entry {width: 80%}

#sidebar .nav a {font-size: 85%; padding: 6px 4px;}
	#sidebar .nav li .label {
		margin-top:0;
		margin-right:0
	}
.textarea-comment {width: 91%;}
footer .pull-left {width:25%;}

}

/* // Large desktop */
@media (min-width: 1200px) {

#esqueci {
	left: 145px
}

}

