@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	padding-top: 60px;
	color: #555;
}
h1, h2, h3, h4, h5 {
    font-family: 'RobotoThin';
}
h6 {
    font-family: 'RobotoCondensed';
}

.icon-gray {opacity: 0.4}
.active .icon-gray {background-image: url(../img/glyphicons-halflings-white.png);}
.navbar-fixed-top {position: fixed}
.navbar .brand {
	background: url(../img/rl/logo.png) no-repeat;
	display: block;
	text-indent: -9999em;
	height: 40px;
	width: 140px;
	padding: 0;
	margin-right: 20px;
}

	#user-menu {
		float: right
	}
	.navbar-inner {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar .nav > li > a {
  		color: #0088cc;
  		text-shadow: none;
	}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
  		background-color: rgba(0, 0, 0, 0.03);
	}
	.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {border-top-color: #939393}
	.dropdown.open .dropdown-toggle {color: #000}
	.navbar-search {margin-left: 5px}
	.navbar-search .search-query {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
		background: #fff url(../img/rl/bg-input.gif) repeat-x top;
		border-radius: 4px;
		border: 1px solid #cac8c8;
	}
	.navbar-search .search-query:hover {
		background-color: #fff;
		border: 1px solid #c5c3c3;
	}
	.navbar-search .search-query:focus, .navbar-search .search-query.focused {
		padding: 4px 9px;
		color: #333333;
		text-shadow: none;
		background-color: #ffffff;
		border: 1px solid #c5c3c3;
		box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
	}
	#searchsubmit {position: relative; left: -31px}
	.navbar-fixed-top .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-fixed-top .dropdown-menu::before {
		left: auto;
		right: 9px;
	}
	.navbar-fixed-top .dropdown-menu::after {
		left: auto;
		right: 10px
	}
	.btn-navbar .icon-bar {
		background-color: #0088cc
	}

#sidebar {
	border:1px inset #e8e6e6;
	border-width: 0 1px 0 0;
	margin-right: -1px
}
	#sidebar h1 {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
	    font-weight: normal;
	    color: #555;
	    line-height: 100%;
	    margin:5px 0 15px;
	}
	.avatar {position: relative}
	.avatar .photo {
		background: url(../img/rl/_avatar-default-140.png) no-repeat;
		max-width: 100%;
	}
	.avatar .btn-group {
		position: absolute;
		top:-4px;
		left: -4px;
	}
	.avatar .btn-group > a {
		padding: 2px 4px;
		opacity: 0.9;
	}

.footer {}

/*!
 * Responsive
 */
/* // Landscape phones and down */
@media (max-width: 480px) {
	#user-menu {
		float: left
	}
	
#searchsubmit {display: none}
}

/* // Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}

#searchsubmit {display: none}
}

/* // Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}


#searchsubmit {display: none}
}

/* // Um computador por aluno */
@media (min-width: 768px) and (max-width: 800px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}

#searchsubmit {display: none}
}

/* // Large desktop */
@media (min-width: 1200px) {}