@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 60px 0;
	color: #555;
}
body.home {
	background: url(../img/rl/bg.png) repeat-x center top;
	padding-top:25px
}

h1, h2 {
    font-family: 'RobotoThin';
}
h3, h4, h5, h6 {
    font-family: 'RobotoCondensed';
    font-weight: normal;
}
blockquote p {
    font-family: 'RobotoCondensed';
    font-size: 14px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    margin:5px 0 15px;
}
label {cursor: pointer}
.btn, .label {border-radius: 14px}
.icon-gray {opacity: 0.4}
.active .icon-gray {background-image: url(../img/glyphicons-halflings-white.png);}
.navbar-fixed-top {position: fixed}
.brand {
	background: url(../img/rl/logo.png) no-repeat;
	display: block;
	text-indent: -9999em;
	height: 40px;
	width: 140px;
}
.navbar .brand {
	padding: 0;
	margin-right: 20px;
}
body.home .brand {
	background: url(../img/rl/logo-home.png) no-repeat;
	display: block;
	text-indent: -9999em;
	margin-bottom: 40px;
	height: 52px;
	width: 220px;
}
body.home .top-login {
	margin-bottom: 40px;
}
	#user-menu {float: right}
	.navbar-inner {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar .nav > li > a {
  		color: #08c;
  		text-shadow: none;
	}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
  		background-color: rgba(0, 0, 0, 0.03);
	}
	.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {border-top-color: #939393}
	.dropdown.open .dropdown-toggle {color: #000}
	.navbar-search {margin-left: 5px}
	.navbar-search .search-query {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
		background: #fff url(../img/rl/bg-input.gif) repeat-x top;
		border-radius: 4px;
		border: 1px solid #cac8c8;
	}
	.navbar-search .search-query:hover {
		background-color: #fff;
		border: 1px solid #c5c3c3;
	}
	.navbar-search .search-query:focus, .navbar-search .search-query.focused {
		padding: 4px 9px;
		color: #333333;
		text-shadow: none;
		background-color: #ffffff;
		border: 1px solid #c5c3c3;
		box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
	}
	#searchsubmit {position: relative; left: -31px}
	.navbar-fixed-top .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-fixed-top .dropdown-menu::before {
		left: auto;
		right: 9px;
	}
	.navbar-fixed-top .dropdown-menu::after {
		left: auto;
		right: 10px
	}
	.btn-navbar {border-radius: 6px}
	.btn-navbar .icon-bar {background-color: #08c}
	#login-form ul.extras {
		margin: 0;
		position: relative;
		list-style: none
	}

	#login, #login-pass {width: 38%}
	#esqueci {
		position: absolute;
		top: 0;
		left: 145px
	}
	#top-login .extras li {padding-top: 2px}
	.dropdown img {
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}

#user-menu .label {
	position: absolute;
	top: 6px;
	left: 6px;
	padding: 0 2px;
	line-height: 130%
}

#top-login {
	float: right;
	width: 345px;
}
#intro {
	margin-top: 10px
}
	#intro h1 {
		font-size: 58px;
		color: #c0c0c0;
		letter-spacing: -.1em;
		margin-bottom: .3em;
	
	}
	#intro h1 small {
		letter-spacing: normal;
	}
#cadastro-form input {
	display: block;
}

#privacidade-status {max-width: 130px}
.wdgt {
	margin-bottom: -15px;
	position: relative
}
.wdgt .more {
	position: absolute;
	top: 5px;
	right: 0
}

#refresh, #pagination a {
	margin-bottom: 20px;
	width: 95% 
}

#stream {
	position: relative;
	padding-bottom: 30px
}
	#stream ul {
		list-style: none;
		margin-left: 0;
	}
	#stream > ul {margin-top: -15px}
	#stream ul .vcard {
		border-top: 1px dotted #ccc;
		padding-top: 14px;
		margin-top: 12px;
		clear: both;
		float: left;
		position: relative;
		width: 100%
	}
	#stream ul .activity {width: 100%}
	#stream ul .vcard .entry {
		float: left;
		width: 85%;
	}
	#stream .meta {
		font-size: 88%;
		float: left;
		clear: both;
		margin-top: -10px
	}
	#stream .activity .time {font-size: 11px; color: #bbb}
	#stream .meta li {
		float: left;
		margin-right: 8px
	}
	#stream .meta .time {padding-top: 1px}
	#stream .meta .time a, #stream .comments .time {color: #b2b1b1; font-size: 11px}

	#stream .comments {clear: both}
	.my-status .entry > * {opacity: .6}
	.my-status .entry .comments {opacity: 1}

	#stream .photo {
		float: left;
		margin-right: 8px;
	}
	#stream .vcard .btn-group {
		position: absolute;
		top: -5px;
		right: 2px;
	}
	#stream .vcard .dropdown-toggle span, #stream .vcard .meta i {opacity: .5}
	#stream .vcard .dropdown-menu {
		right: 0;
		left: auto;
	}
	#stream .vcard .comments {
		position: relative;
		padding-top: 5px;
		width: 90%;
	}
	#stream .vcard .comments li {
		background: #f6f5f5;
		margin-bottom: 1px;
		padding: 1px 3px 4px 2px
	}
	#stream .vcard .comments li .photo {width: 15px; margin-top: 3px}
	#stream .vcard .comments li .comment {margin-left: 17px}
	#stream .vcard .comments li .fn {font-size: 11px}
	#stream .vcard .comments li p {
		font-size: 12px;
		line-height: 16px;
		color: #777;
		margin-bottom: 4px
	}
	#stream .comments .photo {margin-right: 2px}
	.comments form {margin-bottom: 0}
	.textarea-comment {width: 93%; margin-top: 2px; margin-bottom: 0; font-size: 12px}
	#stream .shared-item {position: relative; display: block; max-width: 400px}
	#stream .btn-play {
		position: absolute;
		display: block;
		background: url(../img/rl/btn-play.png) no-repeat center 0px;
		top: 50%;
		left: 50%;
		margin-top: -70px;
		margin-left: -70px;
		height: 140px;
		width: 140px
	}
	#stream .shared-item:hover .btn-play {
		background: url(../img/rl/btn-play.png) no-repeat center -140px;
	}
	#stream .video-embed {display: none; max-width: 400px}
	#stream .video-embed iframe {width: 100%; min-height: 233px}
	.form-comment {position: relative; padding-bottom: 21px}
	.form-comment .btn {
		right: 5px;
		bottom: 0;
		position: absolute
	}
	.vcard .close {position: absolute; top: 2px; right: 2px}
	
#pagination {
	background: url(../img/rl/fade.png) repeat-x top;
	padding-top: 60px;
	top: -70px;
	position: relative;
	float: left;
	clear: both;
	width: 100%
}
#pagination .btn {width: 96%}


#sidebar {
	border:1px inset #e8e6e6;
	border-width: 0 1px 0 0;
	margin-right: -1px
}
	#sidebar h1 {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
	    font-weight: normal;
	    color: #555;
	    line-height: 100%;
	    margin:5px 0 15px;
	}
	.avatar {position: relative}
	.avatar .photo {
		background: url(../img/rl/_avatar-default-140.png) no-repeat;
		max-width: 100%;
	}
	.avatar .btn-group {
		position: absolute;
		top:-8px;
		left: -7px;
	}
	.avatar .btn-group > a, .vcard .btn-group > a {
		padding: 1px 3px 3px;
		opacity: 0.9;
	}
	#sidebar .nav li {position: relative}
	#sidebar .nav li .label {
		position: absolute;
		top:6px;
		right:5px
	}

#footer-utility ul {
	list-style: none;
	margin-left: 0;
}
#footer-utility ul li {margin: 6px 0}
#footer-utility h4 {text-transform: uppercase}
.fade-rl {
	background: url(../img/rl/fade.png) repeat-x;
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
		pointer-events: none;
}
#modalEsqueci {display: none}
#privacidade-status, #form-status #send {
	float: right;
	margin-left: 10px
}

/*!
 * Responsive
 */
/* // Landscape phones and down */
@media (max-width: 480px) {
	#user-menu {
		float: left
	}
	
#searchsubmit {display: none}

#top-login {
	float: none
}

#stream ul .vcard .entry {width: 75%}
#sidebar-wdgt {clear: both}
#footer-utility h4 {margin-top: 30px}

}

/* // Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}

#searchsubmit {display: none}

#top-login {
	margin-right: 10px
}

#top-login .extras {padding-top: 10px;}

#esqueci {
	position: static;
}

#top-login {
	margin-top: 15px;
	float: left;
	width: 60%
}
#login, #login-pass {
	display: block;
	margin-bottom: 5px;
	width: 100%
}
#stream ul .vcard .entry {width: 75%}
#sidebar-wdgt {clear: both}
.textarea-comment {width: 88%;}
#footer-utility h4 {margin-top: 30px}

}


/* // Um computador por aluno */
@media (min-width: 768px) and (max-width: 800px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}

#searchsubmit {display: none}

#sidebar .nav a {font-size: 85%; padding: 4px}
	#sidebar .nav li .label {
		top:3px;
		right:3px
	}

#stream ul .vcard .entry {width: 80%}
.textarea-comment {width: 91%;}

}

/* // Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
	#user-menu {
		float: left
	}
	.navbar-search .search-query {
		width: 95%
	}
	.navbar .brand {margin-left: 15px}

#searchsubmit {display: none}

#stream ul .vcard .entry {width: 80%}

#sidebar .nav a {font-size: 85%; padding: 4px}
	#sidebar .nav li .label {
		top:3px;
		right:3px
	}
.textarea-comment {width: 91%;}


}

/* // Large desktop */
@media (min-width: 1200px) {


}