@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	padding-top: 40px
}

.navbar .brand {
	background: url(../img/rl/logo.png) no-repeat;
	display: block;
	text-indent: -9999em;
	height: 40px;
	width: 140px;
	padding: 0;
	margin-right: 20px;
}

	#user-menu {
		float: right
	}
	.navbar-inner {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar .nav > li > a {
  		color: #0088cc;
  		text-shadow: none;
	}
	.navbar .nav .active > a, .navbar .nav .active > a:hover {
  		background-color: rgba(0, 0, 0, 0.03);
	}
	.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {border-top-color: #939393}
	.dropdown.open .dropdown-toggle {color: #000}
	.navbar-search {margin-left: 5px}
	.navbar-search .search-query {
	    font-family: 'RobotoCondensed';
	    font-size: 14px;
		background: #fff url(../img/rl/bg-input.gif) repeat-x top;
		border-radius: 4px;
		border: 1px solid #cac8c8;
	}
	.navbar-search .search-query:hover {
		background-color: #fff;
		border: 1px solid #c5c3c3;
	}
	.navbar-search .search-query:focus, .navbar-search .search-query.focused {
		padding: 4px 9px;
		color: #333333;
		text-shadow: none;
		background-color: #ffffff;
		border: 1px solid #c5c3c3;
		box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
	}
	.dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar .dropdown-menu::before {
		left: auto;
		right: 9px;
	}
	.navbar .dropdown-menu::after {
		left: auto;
		right: 10px
	}