cache/*
log/*
web/uploads/*
config/databases.yml
config/propel.ini
data/sql/*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*

.DS_Store
/nbproject/private/

web/assets/css/2.0/*

web/assets/img/2.0/*

web/assets/js/2.0/*

web/assets/js/2.0/bootstrap.min.js

web/arquivosInstitucionais/*
web/arquivosApresentacoes/*
web/arquivosImprensa/*

/test/

/web/assets/img/thumbnails/*

web/uploads/documentos/*

