
.DS_Store
/nbproject/private/
/Fabio Aguiar/Ferramenta_de_Controle_do_Robo_v0.1/.metadata/
web/assets/css/2.0/bootstrap.css

web/assets/css/2.0/bootstrap.min.css

web/assets/img/2.0/glyphicons-halflings-white.png

web/assets/img/2.0/glyphicons-halflings.png

web/assets/js/2.0/bootstrap.js

web/assets/js/2.0/bootstrap.min.js

web/arquivosInstitucionais/qualqué coisa.doc
/test/
/log/
/cache/.pear/
/web/assets/img/thumbnails/
web/uploads/documentos/bbbb/agora vai de verdade éção_4_1341512924.pdf

web/uploads/téstê.JPG

web/uploads/téstê_tmp_4_60.jpg

web/uploads/téstê_tmp_4_20.jpg

web/uploads/téstê_tmp_4_large.jpg
